.box {
    padding: 10px;
    border: 1px solid #7BFF00;
    cursor: pointer;
    box-shadow: 1px 1px 0px #7BFF00,
        2px 2px 0px #7BFF00,
        3px 3px 0px #7BFF00,
        4px 4px 0px #7BFF00,
        5px 5px 0px #7BFF00,
        6px 6px 0px #7BFF00,
        7px 7px 0px #7BFF00,
        8px 8px 0px #7BFF00,
        9px 9px 0px #7BFF00,
        10px 10px 0px #7BFF00,
        11px 11px 0px #7BFF00,
        12px 12px 0px #7BFF00,
        13px 13px 0px #7BFF00;
}

