@import '~/mixins/box';
@import '~/mixins/colors';

.card {
    --box-color: var(--color-undecided);
    @include box-tall-with-color(var(--box-color));
    min-width: 640px;
    min-height: 480px;
    padding: 30px;
}

.card button {
    border: none;
    background-color: white;
}

.editable {
    @include box-flat-with-color(var(--box-color));
    cursor: pointer;
}

.editing {
    @include box-tall-with-color(var(--box-color));
}

.title {
    padding: 10px;
}

.moreMenuButton {
    @include box-flat-with-color(var(--color-undecided));
    border: 1px solid var(--color-undecided) !important; //ughhh
    cursor: pointer;
    border-radius: 50%;
    float: right;
    height: 30px;
    width: 30px;
    line-height: 3px;
}

.moreMenuButton.open {
    @include box-tall-with-color(var(--color-undecided));
    border-radius: 50%;
}

.moreMenuButton p {
    transform: translateY(-5px);
    color: black;
}